@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway';
    text-align: center;
    color: white;
    font-size: normal;
}
#logo { /* imagem logo CSS developer*/
   width: 180px;
}
#header { /* primeiro section com fundo transparente*/
    background-image:  linear-gradient(rgba(0, 0, 0, 0.50)0%, rgba(51, 169, 219, 0.205)50%, rgba(0, 0, 0, 0.096)100%), url(./banner.png);
    background-size: cover;
}
p {
    margin: 15px;
}

.botao {
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #33abdb ;
    color: #33abdb;
    margin-top: 30px;
    padding: 13px;
    font-weight: bold;
    width: 260px;
}
#h1-logo { /* h1 "trilha de css da dio "*/
    margin-top: 20px;
    font-size: 30px;
}

h1 { 
    font-size: 25px;
    margin: 5px;
    text-transform: uppercase;
    color: #33abdb;
    font-weight: bold;
}

span {
    color: #33abdb;
}
.o-que-vou { /* h1 "o que vou aprender?"*/
    padding-top: 3rem;
}

.pattern { /* section */
    height: 26rem;
    width: auto;
    padding: 10px;
    background-color: black; 
    border-bottom: 1px solid #33abdb;
}

#conteudo-01{ /* section dos 3 divs*/
    padding: 3rem 0rem 0rem 0rem;
}

.topicos { /* 3 divs dos módulos */
    font-size: normal;
    width: 26rem;
    padding: 12px;
    background-color: rgb(66, 66, 66);
    border: 1px solid #33abdb;
    margin: 6px auto;
    border-radius: 35px 35px 35px 35px;
    box-shadow: inset -5px 5px 5px 0px rgba(0,0,0,0.75);
}

#conteudo-02 { /* imagem woman*/
    background-image: url(./woman.png);
    background-attachment: fixed;
    background-size: cover;
}

#elaborado { /* div na section woman*/
    width: 270px;
    margin-top: 8rem;
}

#p-elaborado { /* texto na div section woman*/
    font-weight: bold;
    text-align: justify;
    font-size: 40px;
    filter: drop-shadow(3px 3px 1px rgb(0, 174, 255)); 
}
#conteudo-03{ /* section imagem challenge*/
    height: 37rem;
    padding: 2rem 00rem 0rem 0rem;
}

#img-challenge {
    width: 600px;
}

#footer { /* section footer*/
    height: 5rem;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.562)0%, rgba(51, 169, 219, 0.151)70%);
    border: none;
    padding: 3rem 0rem 2rem 0rem;
}

a {
    text-decoration: none;
    color: #33abdb;
}